---
---
$screen-xl-min: 1500px;

$container-padding: 10px;
$header-height: 60px;

@import "bootstrap";

// General styles
body {
  overflow-y: scroll;
}

.container {
  @media (min-width: $screen-xl-min) {
    width: (1440px + $grid-gutter-width);
  }
}

.chart-multi {
  background-color: transparent;
}

// Custom components
@import "highlight";
@import "header";
@import "examples";
@import "docs";
