{
  "extends": "defaults",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": false,
    "defaultParams": true,
    "destructuring": true,
    "forOf": false,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": false,
    "templateStrings": true
  },
  "rules": {
    "no-empty": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  }
}