node_modules
bower_components
.grunt
specs/index.html
npm-debug.log
example/data
_tmp/
_docs/

# gh-pages
_site/
.sass-cache/
_tasks/node_modules/
_taks/npm-debug.log

# OS Junk
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
