---
layout: full-width
title: Getting Started
class: home layout-narrow
scripts: |
  <script type="text/javascript">examples = {};</script>
  <script src="js/examples/index.js"></script>

  <script src="js/editor.js"></script>
  <script src="js/getting-started.js"></script>
---

<section class="home-masthead"><div class="container">
  <div class="row">
    <div class="col-md-7 home-masthead-carousel-container">
      <a class="home-masthead-carousel" href="#" data-prev>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <div id="home-chart" class="editor is-constrained">
        <!-- Statically load empty editor to avoid load flash -->
        {% include editor-placeholder.html width=600 height=400 %}
      </div>
      <a class="home-masthead-carousel" href="#" data-next>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="col-md-5 home-masthead-content">
      <h1 class="home-tagline">Compose complex, data-driven visualizations from reusable charts and components with d3.</h1>
      <ul class="home-features">
        <li>Get started quickly with standard charts and components</li>
        <li>Layout charts and components automatically</li>
        <li>Powerful foundation for creating custom charts and components</li>
      </ul>
      <a class="btn btn-lg home-call-to-action" href="{{ site.baseurl }}/docs/#downloads">Download d3.compose</a>
    </div>
  </div>
</div></section>

<!--
  Goal: Create chart at top, iteratively

  1. Download
  2. Add Line
  3. Add Axis
  4. Add Scale (and x-axis)
  5. Add Series
  6. Add Legend
  7. Add Title
  8. Switch to bars
-->
<main class="container getting-started">
  <h2>Getting Started</h2>

  <div class="row">
    <div class="col-md-7">
      <!-- Currently needed for scrollspy to work properly -->
      <div class="getting-started-nav" style="visibility: hidden; height: 0">
        <ul class="nav">
          <li><a href="#1-download">Download</a></li>
          <li><a href="#2-chart">Add Chart</a></li>
          <li><a href="#3-component">Add Component</a></li>
          <li><a href="#4-scales">Add Scales</a></li>
          <li><a href="#5-series">Add Series</a></li>
          <li><a href="#6-legend">Add Legend</a></li>
          <li><a href="#7-title">Add Title</a></li>
          <li><a href="#8-bars">Switch to Bars</a></li>
        </ul>
      </div>

      <section>
        <h3 id="1-download"><span class="step-number">1.</span> Download</h3>

        <p>
          <a href="{{ site.baseurl }}/docs/#downloads">Download</a> and add d3.compose (and its dependencies: d3, d3.chart, and underscore) to your page.
        </p>

{% highlight html %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="d3.compose.css">
    <title>d3.compose</title>
  </head>
  <body>
    <div id="chart"></div>

    <script src="d3.js"></script>
    <script src="d3.chart.js"></script>
    <script src="underscore.js"></script>

    <script src="d3.compose-all.js"></script>

    <script type="text/javascript">
      var data = [{x: 0, y: 0}, {x: 1, y: 10}, {x: 2, y: 40}, {x: 3, y: 90}];
      var chart = d3.select('#chart').chart('Compose');

      chart.draw(data);
    </script>
  </body>
</html>
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="2-chart"><span class="step-number">2.</span> Add Chart</h3>

        <p>
          Add chart...
        </p>

{% highlight js %}
var data = [{x: 0, y: 0}, {x: 1, y: 10}, {x: 2, y: 40}, {x: 3, y: 90}];
var chart = d3.select('#chart').chart('Compose', function(data) {
  return {
    charts: {
      results: {
        type: 'Lines',
        data: data
      }
    }
  };
});

chart.draw(data);
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="3-component"><span class="step-number">3.</span> Add Component</h3>

        <p>
          Add component...
        </p>

{% highlight js %}
var chart = d3.select('#chart').chart('Compose', function(data) {
  return {
    charts: {
      results: {type: 'Lines', data: data}
    },
    components: {
      yAxis: {
        type: 'Axis',
        position: 'left',
        scale: {domain: [0, 90]}
      }
    }
  };
});
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="4-scales"><span class="step-number">4.</span> Add Scales</h3>

        <p>
          Add scales...
        </p>

{% highlight js %}
var chart = d3.select('#chart').chart('Compose', function(data) {
  var scales = {
    x: {data: data, key: 'x'}
    y: {domain: [0, 100]}
  };

  return {
    charts: {
      results: {type: 'Lines', data: data, xScale: scales.x, yScale: scales.y}
    },
    components: {
      xAxis: {
        type: 'Axis',
        position: 'bottom',
        scale: scales.x
      },
      yAxis: {
        type: 'Axis',
        position: 'left',
        scale: scales.y
      }
    }
  };
});
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="5-series"><span class="step-number">5.</span> Add Series</h3>

        <p>
          Add series...
        </p>

{% highlight js %}
var data = [
  {
    values: [{x: 0, y: 0}, {x: 1, y: 10}, {x: 2, y: 40}, {x: 3, y: 90}]
  },
  {
    values: [{x: 0, y: 0}, {x: 1, y: 10}, {x: 2, y: 40}, {x: 3, y: 90}]
  }
];
var chart = d3.select('#chart').chart('Compose', function(data) {
  // Everything stays the same...
});

chart.draw(data);
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="6-legend"><span class="step-number">6.</span> Add Legend</h3>

        <p>
          Add legend...
        </p>

{% highlight js %}
var chart = d3.select('#chart').chart('Compose', function(data) {
  var scales = {
    x: {data: data, key: 'x'}
    y: {domain: [0, 100]}
  };

  return {
    charts: {
      results: {type: 'Lines', data: data, xScale: scales.x, yScale: scales.y}
    },
    components: {
      xAxis: {
        type: 'Axis',
        position: 'bottom',
        scale: scales.x
      },
      yAxis: {
        type: 'Axis',
        position: 'left',
        scale: scales.y
      },
      legend: {
        type: 'Legend',
        position: 'right',
        charts: ['results']
      }
    }
  };
});
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="7-title"><span class="step-number">7.</span> Add Title</h3>

        <p>
          Add Title
        </p>

{% highlight js %}
var chart = d3.select('#chart').chart('Compose', function(data) {
  var scales = {
    x: {data: data, key: 'x'}
    y: {domain: [0, 100]}
  };

  return {
    charts: {
      results: {type: 'Lines', data: data, xScale: scales.x, yScale: scales.y}
    },
    components: {
      xAxis: {
        type: 'Axis',
        position: 'bottom',
        scale: scales.x
      },
      yAxis: {
        type: 'Axis',
        position: 'left',
        scale: scales.y
      },
      legend: {
        type: 'Legend',
        position: 'right',
        charts: ['results']
      },
      title: {
        type: 'Title',
        text: 'd3.compose',
        'class': 'chart-title-main'
      }
    }
  };
});
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section>
        <h3 id="8-bars"><span class="step-number">8.</span> Switch to Bars</h3>

        <p>
          Switch to Bars...
        </p>

{% highlight js %}
var chart = d3.select('#chart').chart('Compose', function(data) {
  var scales = {
    x: {data: data, key: 'x', type: 'ordinal', adjacent: true}
    y: {domain: [0, 100]}
  };

  return {
    charts: {
      results: {type: 'Bars', data: data, xScale: scales.x, yScale: scales.y}
    },
    // Everything stays the same...
  };
});
{% endhighlight %}

        <div class="chart-container hidden-md hidden-lg">
          {% include editor-placeholder.html width=600 height=400 hide_controls=true wrap=true %}
        </div>
      </section>

      <section style="height: calc(25vh)"></section>
    </div>

    <div class="col-md-5">
      <div class="getting-started-chart-container hidden-xs hidden-sm">
        <div id="getting-started-chart" class="editor is-constrained">
          {% include editor-placeholder.html width=450 height=340 hide_controls=true %}
        </div>
      </div>
    </div>
  </div>
</main>
