<script type="text/html" id="example-line">
<div class="highlight"><pre><code class="js">var example = d3.select('.js-chart').append('svg')
  .chart('Multi', function(data) {
    // Manipulate data as needed

    // Create options for scales shared between charts and/or components
    var scales = {
      x: {data: data, key: 'x'},
      y: {data: data, key: 'y'}
    };

    return {
      charts: {
        // Add a d3.chart('Line') chart
        // with given data and scales
        line: {
          type: 'Line',
          data: data,

          // Set options for chart
          xScale: scales.x,
          yScale: scales.y,
          interpolate: 'monotone'
        }
      },
      components: {
        'axis.x': {
          type: 'Axis',
          position: 'bottom',
          scale: scales.x
        },
        'axis.y': {
          type: 'Axis',
          position: 'left',
          scale: scales.y
        },
        title: {
          type: 'Title',
          position: 'top',
          text: 'Line Chart'
        }
      }
    };
  })
  .margins({top: 0, right: 15, bottom: 5, left: 5});
</code></pre></div>
<div class="highlight"><pre><code class="js">[
  {
    key: 'a', values: [
      {x: 0, y: 10}, {x: 10, y: 20}, {x: 20, y: 50}, {x: 30, y: 100}
    ]
  },
  {
    key: 'b', values: [
      {x: 0, y: 50}, {x: 10, y: 45}, {x: 20, y: 15}, {x: 30, y: 10}
    ]
  }
]
</pre></div>
</script>
