<a class="sr-only sr-only-focusable" id="skip-to-content" href="#content">
  <span class="skip-to-content-text">Skip to content</span>
</a>
<header class="navbar navbar-static-top site-header" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">d3.compose</a>
    </div>
    <nav class="" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Getting Started</a></li>
        <li {% if page.url == "/examples/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/examples/">Examples</a></li>
        <li {% if page.url == "/docs/index.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">Docs</a></li>
        <li><a href="https://github.com/CSNW/d3.compose" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>