.docs-sidebar {
  background: #fff;
  position: fixed;
  z-index: 10;
  top: 60px; 
  bottom: 10px;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px 15px 15px;
  border: 1px solid #eee;
}

.toc-title, 
.toc-title:visited {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 15px;

  &:hover {
    text-decoration: underline;
  }
  & .version {
    font-size: 10px;
    font-weight: normal;
  }
}

.toc-section {
  font-size: 11px;
  line-height: 14px;
  margin: 5px 0 0 0;
  padding-left: 0px;
  list-style-type: none;
  font-family: Lucida Grande;

  & > li {
    cursor: pointer;
    margin: 0 0 3px 0;

    & > a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.docs-content {
  max-width: 600px;
  margin-left: 230px;

  tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    padding: 0px 3px;
    background: #fff;
    border: 1px solid #ddd;
    zoom: 1;
  }
}

.docs-header {
  font-size: 18px;
  line-height: 35px;
}

.docs-chart > svg {
  width: 500px;
  height: 300px;
}

@media only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 600px),
  only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 600px) {

  .docs-sidebar {
    display: none;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 640px),
      only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 640px),
      only screen and (min-device-pixel-ratio: 1.5) and (max-width: 640px) {
  .docs-sidebar {
    -webkit-overflow-scrolling: initial;
    position: relative;
    width: 90%;
    height: 120px;
    left: 0;
    top: -7px;
    padding: 10px 0 10px 30px;
    border: 0;
  }
}