.docs-sidebar {
  color: #444;

  &.affix {
    top: 20px;
  }

  .nav a {
    padding: 4px 0 4px 20px;
    color: inherit;
    font-size: 13px;

    &:hover,
    &:active {
      padding-left: 18px;
      border-left: solid 2px $primary-color;
      color: $primary-color;
      background-color: transparent;
    }
  }

  .nav.is-nested {
    display: none;
  }
  .nav.is-nested a {
    padding: 1px 0 1px 30px;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      padding-left: 28px;
    }
  }

  .nav > li.active > a {
    padding-left: 18px;
    border-left: solid 2px $primary-color;
  }
  .nav > li.active > .nav.is-nested {
    display: block;
  }
  .nav.is-nested > li.active > a {
    padding-left: 28px;
  }

  .back-to-top {
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    color: #aaa;
  }

  hr {
    padding: 0;
    margin: 5px 0;
  }
}

.docs-section {
  background-color: #fff;
  border: solid 1px #eee;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px #eee;
}

.docs-content {
  tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    padding: 0px 3px;
    background: #fff;
    border: 1px solid #ddd;
    zoom: 1;
  }
}

.docs-chart > svg {
  width: 500px;
  height: 300px;
}
