#skip-to-content {
  display: block;
  padding: 1em;
  outline: 0;
}
.skip-to-content-text {
  padding: 0.5em;
  outline: 1px dotted;
}

.site-header {
  background-color: $primary-color;
  color: #fff;

  a, 
  a:hover, 
  a:active,
  a:visited {
    color: #fff;
  }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > .active > a {
    background-color: $primary-color-dark;
  }

  .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-toggle {
    border-color: #eee;
  }
  .icon-bar {
    background-color: #fff;
  }
  .navbar-header {
    @media (max-width: $screen-sm) {
      margin-top: 10px;
    }
  }

  .home & {
    margin-bottom: 0;

    .navbar-brand {
      margin-top: 30px;
      font-size: 30px;

      @media (max-width: $screen-sm) {
        margin-top: 0;
      }
    }

    .navbar-collapse {
      box-shadow: none;
    }

    .nav {
      margin-top: 40px;
      font-size: 16px;

      @media (max-width: $screen-sm) {
        margin-top: 0;
      }
    }

    .nav > li > a {
      padding: 4px 2px;
      margin: 0 8px;
      border-bottom: solid 1px transparent;
    }

     
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > .active > a {
      background-color: inherit;
      text-decoration: underline;

      @media (min-width: $screen-sm) {
        border-bottom-color: #fff;
        text-decoration: none;
      }
    }
  }
}
