@mixin container {
  position: relative;
  padding-left: $container-padding;
  padding-right: $container-padding;

  @media (min-width: $medium-screen) {
    width: 970px;
    margin: 0 auto;
  }
  @media (min-width: $large-screen) {
    width: $large-screen;
  }
}

@mixin font-size($size) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
}