/**
  Base styles for configurable chart

  Includes
  - chart
  - lines
  - bars
  - axis
  - legend
*/

.chart {
  background-color: #eee;
  border: solid 1px #ddd;
  shape-rendering: crispEdges;
}

.index-0 {stroke: blue; fill: blue;}
.index-1 {stroke: red; fill: red;}
.index-2 {stroke: green; fill: green;}
.index-3 {stroke: yellow; fill: yellow;}
.index-4 {stroke: purple; fill: purple;}
.index-5 {stroke: orange; fill: orange;}
.index-6 {stroke: black; fill: black;}
.index-7 {stroke: gray; fill: gray;}

/* Lines */
.line {
  stroke-width: 1.5px;
  fill: none;
}

/* Bars */
.bar {
  stroke: none;
}

/* Labels */
.label {
  stroke: none;
}

/* Axis styling */
.axis {

}
.axis path {
  stroke-width: 2px;
  fill: none;
  stroke: black;
}
.axis .tick {
  font-size: 90%;
}

/* Legend */
.legend {

}