/**
  Base styles for configurable chart
*/

.chart {
  background-color: #eee;
  border: solid 1px #ddd;
}

.series_0 .line {stroke: blue;}
.series_0 .bar {fill: steelblue; }
.series_1 .line {stroke: red;}
.series_1 .bar {fill: #fc3;}

.line {
  stroke-width: 1.5px;
  fill: none;
}
.bar {

}
.axis {

}
.axis path {
  stroke-width: 1.5px;
  fill: none;
  stroke: black;
}
.tick {
  font-size: 90%;
}

.special .bar {
  fill: yellow;
}