/**
  Base styles for configurable chart

  Includes
  - chart
  - lines
  - bars
  - axis
  - legend
*/

.chart {
  background-color: #eee;
  border: solid 1px #ddd;
}

.chart-index-0 {stroke: blue; fill: blue;}
.chart-index-1 {stroke: red; fill: red;}
.chart-index-2 {stroke: green; fill: green;}
.chart-index-3 {stroke: yellow; fill: yellow;}
.chart-index-4 {stroke: purple; fill: purple;}
.chart-index-5 {stroke: orange; fill: orange;}
.chart-index-6 {stroke: black; fill: black;}
.chart-index-7 {stroke: gray; fill: gray;}

/* Lines */
.chart-line {
  stroke-width: 1.5px;
  fill: none;
}

/* Bars */
.chart-bar {
  stroke: none;
  shape-rendering: crispEdges;
}

/* Labels */
.chart-label {
  stroke: none;
}

/* Title */
.chart-title {
  font-size: 110%;
  font-weight: bold;
}
.chart-title-main {
  font-size: 120%;
  font-weight: bold;
}

/* Axis */
.chart-axis {
  shape-rendering: crispEdges;
}
.chart-axis path {
  stroke-width: 2px;
  fill: none;
  stroke: black;
}
.chart-axis .tick {
  font-size: 90%;
}
.chart-axis .tick line {
  stroke: black;
}

/* Legend */
.chart-legend {

}